 <div class="container">
  <div class="row">
    <div class="col text-center">
      <strong class="mr-2">ショッピングカート</strong>
    </div>
    
    <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!--< @cart_item.each do |cart_item| %>-->
        <tr>
          <td>
            商品写真
          </td>
          <td>
            単価
          </td>
          <td>
            小計
          </td>
          <td>
            削除ボタン
          </td>
         
         
         
         
        </tr>
    </tbody>
  </table>
    
    
    </div>
</div>