@use '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/bootstrap";

.custom-button {
  background-color: #91816e;
  border-color: #91816e; 
  color: #fff;
}

.custom-button:hover {
  background-color: #6E574B;
  border-color: #6E574B;
  color: #fff;
}

.logo p {
font-family: 'Shippori Mincho', sans-serif;
}


